<script type="text/javascript">
$(document).ready(function() {
  $(".btn").click(function() {
    var idname = this.id;
      $("#"+idname).addClass("clicked");
      $("#"+idname).siblings().removeClass("clicked")
  })

})
</script>

<style> 
  .btn {
  	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
  	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
  	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  	background-color:#ededed;
  	-moz-border-radius:23px;
  	-webkit-border-radius:23px;
  	border-radius:23px;

  	border:3px solid #dcdcdc;
  	display:inline-block;
  	color:#777777;
  	font-family:arial;
  	font-size:18px;
  	font-weight:bold;
  	margin-left:10px;
  	margin-top:35px;
  	padding:10px 20px;
  	text-decoration:none;
  	text-shadow:1px 1px 0px #ffffff;
  }
  .btn:hover {
  	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
  	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
  	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  	background-color:#dfdfdf;
  }
  .btn:active {
  	position:relative;
  	top:1px;
  }

  .clicked {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c8e6ac), color-stop(1, #c8e6ac) );
  	background:-moz-linear-gradient( center top, #c8e6ac 100%, #dfdfdf 0% );
  	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c8e6ac', endColorstr='#dfdfdf');
  	background-color:#c8e6ac;
  	-moz-border-radius:23px;
  	-webkit-border-radius:23px;
  	border-radius:23px;
  	border:3px solid #dcdcdc;
  	display:inline-block;
  	color:#777777;
  	font-family:arial;
  	font-size:18px;
  	font-weight:bold;
  	margin-left:50px;
  	margin-top:45px;
  	padding:10px 20px;
  	text-decoration:none;
  	text-shadow:1px 1px 0px #ffffff;
  }

  .option{
    width:300px;
    height:400px;
    float:left;
  }
  .video{
    width:630px;
    height:400px;
    float:right;
    margin-top:12px;
  }

  .options_video{
    height:600px;
    width:960px;
    margin-left:auto;
    margin-right:auto;
  }
  .options_video_background{
    height:366px;
    background-image:url('/assets/question-container-bg.jpg');
    background-position:center;    
    background-repeat:no-repeat;
  }
  .bottom{
    width:900px;
  }
  .title_progress_bar{
    height:158px;
    width:920px;
    margin-left:auto;
    margin-right:auto;
    padding-left:10px;
    padding-top:20px;
    font-size:230%;
  }
  .progress_bar{
    width:430px;
    float:right;
    margin-top:70px;
    padding-top:12px;
  }
  .verbal_rep{
    font-size:70%;
    font-weight:400;
    float:left;
  }
  .visual_rep{
    float:right;
  }
  .box{
    width:35px;
    height:35px;
    background-color:#333333;
    float:left;
    margin-top:-12px;
    margin-right:10px;
  }
</style>
<div class="title_progress_bar">
  <div class="title"><%= @question.title %></div>
  <div class="progress_bar">
    <div class="verbal_rep">
      <span>Question</span>
      <span><%= @question.id %></span>
      <span>of 5</span>
    </div>
    <div class="visual_rep">
      <% 5.times do %>
        <div class="box"></div>
      <% end %>
    </div>
  </div>
</div>
<div class="options_video_background">
  <div class="options_video">
    <div class="option">
      <button class="btn" id="button1"><%= @question.option_1 %></button><br />
      <button class="btn" id="button2"><%= @question.option_2 %></button><br />
      <button class="btn" id="button3"><%= @question.option_3 %></button><br />
      <button class="btn" id="button4"><%= @question.option_4 %></button><br />
    </div>

    <div class="video">
    	<iframe width="640" height="340" src="<%= @question.video_url %>" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
<div class='bottom'>
<%= link_to "next", :controller => "questions", :action => "show", :id => @next_question %>
</div>

