<script type="text/javascript">
$(document).ready(function() {
  $(".btn").click(function() {
    var idname = this.id;
      $("#"+idname).addClass("clicked");
      $("#"+idname).siblings().removeClass("clicked")
  })

})
</script>

<%= stylesheet_link_tag "questions" %>

<div class="title_progress_bar">
  <div class="title"><%= @question.title %></div>
  <div class="progress_bar">
    <div class="verbal_rep">
      <span>Question</span>
      <span><%= @question.id %></span>
      <span>of 5</span>
    </div>
    <div class="visual_rep">
      <% 5.times do %>
        <div class="box"></div>
      <% end %>
    </div>
  </div>
</div>
<div class="options_video_background">
  <div class="options_video">
    <div class="option">
      <button class="btn" id="button1"><%= @question.option_1 %></button><br />
      <button class="btn" id="button2"><%= @question.option_2 %></button><br />
      <button class="btn" id="button3"><%= @question.option_3 %></button><br />
      <button class="btn" id="button4"><%= @question.option_4 %></button><br />
    </div>

    <div class="video">
    	<iframe width="640" height="340" src="<%= @question.video_url %>" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
<div class='bottom'>
<%= link_to "next", :controller => "questions", :action => "show", :id => @next_question %>
</div>

