<script type="text/javascript">
$(document).ready(function() {
  $(".btn").click(function() {
    var idname = this.id;
      $("#"+idname).addClass("clicked");
      $("#"+idname).siblings().removeClass("clicked")
  })

})
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29509122-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<%= stylesheet_link_tag "questions" %>
<style>
  .next_button{
    background-image:url("/assets/next-button.png");
    width:176px;
    height:53px;
    float:right;
    color:black;
  }
  .button_text{
    margin-left:auto;
    margin-right:auto;
    width:130px;
    height:50px;
    font-size:140%;
    text-decoration:none;
    margin-top:-5px;
  }
  .bottom{
    width:250px;
    height:200px;
    margin-left:150px;
  }
  #back_button{
    float:left;
    height:40px;
    width:40px;
    text-decoration:none;
    font-size:150%;
    color:#666666;
  }
  .a{
    text-decoration:none;
  }
  .results_text{
    margin-left:auto;
    margin-right:auto;
    width:75px;
    height:50px;
    font-size:140%;
    text-decoration:none;
    margin-top:-5px;
  }
</style>
<div class="title_progress_bar">
  <div class="title"><%= @question.title %></div>
  <div class="progress_bar">
    <div class="verbal_rep">
      <span>Question</span>
      <span><%= @question.id %></span>
      <span>of 4</span>
    </div>
    <div class="visual_rep">
      <% 4.times do |i|%>
        <div class="box <%= (i + 1) == @question.id ? 'special' : 'normal'%>"></div>
      <% end %>
    </div>
  </div>
</div>
<div class="options_video_background">
  <div class="options_video">
    <div class="option">
      <button class="btn" id="button1"><%= @question.option_1 %></button><br />
      <button class="btn" id="button2"><%= @question.option_2 %></button><br />
      <button class="btn" id="button3"><%= @question.option_3 %></button><br />
      <% if @question.option_4 != '' %>
        <button class="btn" id="button4"><%= @question.option_4 %></button><br />
      <% end %>
    </div>

    <div class="video">
    	<iframe width="640" height="340" src="<%= @question.video_url %>" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
<div class='bottom'>
<% unless @question.id == 1 %>
  <a href="/questions/<%= @previous_question.id %>">
    <div id="back_button">
      <p>Back</p>
    </div>
  </a>
<% end %>
<% unless @question.id == 4 %>
  <a href="/questions/<%= @next_question.id %>">
    <div class="next_button">
      <div class="button_text">
        <p>Next Question</p>
      </div>
    </div>
  </a>
<% else %>
  <a href="/pages/about">
    <div class="next_button">
      <div class="results_text">
        <p>Results!</p>
      </div>
    </div>
  </a>
<% end %>
</div>

<!-- this code might need to go back in if we can do it quickly
 --><!--   .btn:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
    background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  } -->
